header{
    background-color: rgb(76, 76, 109);
    color: rgb(255, 251, 8);
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header-logo {
    height: 20vh; 
    width: 50vw; 
}
